*{
    margin: 0;
    padding: 0;
    font-family: 'comfortaa';
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/jason-hawke-OG1fEESzfQA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav h1{
    width: 150px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
     
}

.text-box{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;

}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; 
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    nav a h1{
        display: block;
        text-align: left;
    }
}

/*---science for kids---*/
.scienceforkids{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.kids-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.kids-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2); 
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }

}

/*------Explore-----*/

.explore{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.Museum-img{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; 
    
}

.Museum-img img{
    width: 100%;
}

/*---The Museum---*/

.museum{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.museum-col{
    flex-basis: 31%;
    border-radius:  10px;
    margin-bottom: 5%;
    text-align: left;
}

.museum-col img{
    width: 100%;
    border-radius: 10px;
    
}

.museum-col p{
    padding: 0;
}

.museum-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/*----footer----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.footer h4{
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: 600;
}



/*--------EVENTS------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/web.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: #fff;
}

.et-col{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.et-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.et-col img{
    width: 100%;
    
}

.et-col h1{
    padding-top: 0;
    padding-bottom: 20;
    text-align: center;
}

.et-col h3{
    padding-top: 0;
}

.et-col p{
    padding: 15px 0 25px;
}

/*EXPLORE TOGETHER*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/billy-huynh-W8KTS-mhFUE-unsplash.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: #fff;
}

.exp-col{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.exp-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.exp-col img{
    width: 100%;
    
}

.exp-col h1{
    padding-top: 0;
    padding-bottom: 20;
    text-align: center;
}

.exp-col h3{
    padding-top: 0;
}

.exp-col p{
    padding: 15px 0 25px;
}

/*Visit*/


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/Museum.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: #fff;
}

.visit-col{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.visit-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.visit-col img{
    width: 100%;
    
}

.visit-col h1{
    padding-top: 0;
    padding-bottom: 20;
    text-align: center;
}

.visit-col h3{
    padding-top: 0;
}

.visit-col p{
    padding: 10px 0 10px;
    text-align: center;
}

/*-----Science for kids page--------*/


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/scientific.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: #fff;
}

.kids-col{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.kids-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.kids-col img{
    width: 100%;
    
}

.kids-col h1{
    padding-top: 0;
    padding-bottom: 20;
    text-align: center;
}

.kids-col h3{
    padding-top: 0;
}

.kids-col p{
    padding: 10px 0 10px;
    text-align: center;
}
